<div class="app-wrapper">
  <h1 class="mat-h1">
    My Reactive App
  </h1>

  <app-site-filters></app-site-filters>
  <mat-card class="mat-elevation-z2">
    <mat-card-content>
      <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let route of routes"
           [routerLink]="route.value"
           routerLinkActive
           #rla="routerLinkActive"
           [active]="rla.isActive"> {{route.label}} </a>
      </nav>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
