<div class="mat-elevation-z2 filter-wrapper">
  <mat-form-field appearance="outline">
    <mat-label>Policies</mat-label>
    <mat-select>
      <mat-option value="">--</mat-option>
      <mat-option *ngFor="let item of accounts$ | async" [value]="item.value">
        {{item.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Accounts</mat-label>
    <mat-select>
      <mat-option value="">--</mat-option>
      <mat-option *ngFor="let item of policies$ | async" [value]="item.value">
        {{item.label}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="applyFilters()">Apply</button>
</div>
